@import '~bootstrap/scss/bootstrap';

.playListOutput {
  overflow: auto;
  color: transparent;
  background-color: black;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30vh;
  left: 0vw;
}