@import '~bootstrap/scss/bootstrap';

.userCreatedPlaylists {
  overflow: auto;
  color: transparent;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30vh;
  left: 0vw;
}