@import '~bootstrap/scss/bootstrap';

.cartoonsList {
  position: absolute;
  right: 0vw;
}

.edEddEddyimage {
  position: absolute;
  top: -35vh;
  left: -2vw;
  width: 175px;
}
.edEddEddyLink {
  position: absolute;
  top: 45vh;
  left: 7vw;
}