@import '~bootstrap/scss/bootstrap';

.cartoonStreamingTitle {
  color: black;
}

.cartoonsList {
  position: absolute;
  right: 0vw;
  top: 10vh;
}

.playListsCreatedButton {
  position: absolute;
  left: 0vw;
  top: 10vh;
}

.americanDadImage {
  position: absolute;
  top: -29vh;
  left: -3vw;
  width: 175px;
  height: 200px;
}
.americanDadLink {
  position: absolute;
  top: 45vh;
  left: 7vw;
}

.avatarTheLastAirBenderImage {
  position: absolute;
  top: -28.4vh;
  left: 2vw;
  width: 185px;
}
.avatarTheLastAirBenderLink {
  position: absolute;
  top: 45vh;
  left: 26vw;
}

.brickleBerryImage {
  position: absolute;
  top: -27vh;
  left: -4vw;
  width: 185px;
}
.brickleBerryLink {
  position: absolute;
  top: 45vh;
  left: 55vw;
}

.catDogImage {
  position: absolute;
  top: -26vh;
  left: -7vw;
  width: 185px;
  height: 175px;
}
.catDogLink {
  position: absolute;
  top: 45vh;
  left: 80vw;
}

.catScratchImage {
  position: absolute;
  top: -25vh;
  left: -5vw;
  width: 185px;
  height: 175px;
}
.catScratchLink {
  position: absolute;
  top: 90vh;
  left: 8vw;
}

.courageTheCowardlyDogImage {
  position: absolute;
  top: -31vh;
  left: 3vw;
  width: 165px;
}
.courageTheCowardlyDogLink {
  position: absolute;
  top: 90vh;
  left: 26vw;
}

.edEddEddyImage {
  position: absolute;
  top: -27vh;
  left: -4vw;
  width: 200px;
  height: 185px;
}
.edEddEddyLink {
  position: absolute;
  top: 90vh;
  left: 55vw;
}

.familyGuyImage {
  position: absolute;
  top: -30vh;
  left: -4vw;
  width: 185px;
  height: 30vh;
}
.familyGuyLink {
  position: absolute;
  top: 90vh;
  left: 80vw;
}