@import '~bootstrap/scss/bootstrap';

.cartoonsList {
  position: absolute;
  right: 0vw;
}

.americanDadImage {
  position: absolute;
  top: -29vh;
  left: -3vw;
  width: 175px;
  height: 200px;
}
.americanDadLink {
  position: absolute;
  top: 45vh;
  left: 7vw;
}

.avatarTheLastAirBenderImage {
  position: absolute;
  top: -28.4vh;
  left: 2vw;
  width: 185px;
}
.avatarTheLastAirBenderLink {
  position: absolute;
  top: 45vh;
  left: 50vw;
}

.brickleBerryImage {
  position: absolute;
  top: -27vh;
  left: -4vw;
  width: 185px;
}
.brickleBerryLink {
  position: absolute;
  top: 45vh;
  left: 75vw;
}

.catDogImage {
  position: absolute;
  top: -18vh;
  left: -7vw;
  width: 185px;
}
.catDogLink {
  position: absolute;
  top: 80vh;
  left: 9vw;
}

.catScratchImage {
  position: absolute;
  top: -29vh;
  left: -4vw;
  width: 15px;
}
.catScratchLink {
  position: absolute;
  top: 100vh;
  left: 30vw;
}

.courageTheCowardlyDogImage {
  position: absolute;
  top: -29vh;
  left: -4vw;
  width: 15px;
}
.courageTheCowardlyDogLink {
  position: absolute;
  top: 100vh;
  left: 30vw;
}

.edEddEddyImage {
  position: absolute;
  top: -30vh;
  left: -4vw;
  width: 200px;
  height: 200px;
}
.edEddEddyLink {
  position: absolute;
  top: 45vh;
  left: 30vw;
}

.familyGuyImage {
  position: absolute;
  top: -29vh;
  left: -4vw;
  width: 15px;
}
.familyGuyLink {
  position: absolute;
  top: 100vh;
  left: 30vw;
}

.futuramaImage {
  position: absolute;
  top: -29vh;
  left: -4vw;
  width: 15px;
}
.futuramaLink {
  position: absolute;
  top: 100vh;
  left: 30vw;
}

.liloAndStitchImage {
  position: absolute;
  top: -29vh;
  left: -4vw;
  width: 15px;
}
.liloAndStitchLink {
  position: absolute;
  top: 100vh;
  left: 30vw;
}