@import '~bootstrap/scss/bootstrap';
@import '~video-react/styles/scss/video-react';

body {
  background-color: dimgrey;
  overflow: auto;
}

.descriptionField {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 125vh;
  left: 44vw;
}

.seasonDropdown {
  position: absolute;
  bottom: -100vh;
  left: 42vw;
  width: 12%;
}

.seasonEpisodes {
  background-color: aliceblue;
}

.episodeTitle {
  color: black;
  font-size: 25px;
}

.seasonTitle {
  color: aliceblue;
  font-size: 20px;
}

.addToPlaylist {
  position: absolute;
  right: 10vw;
  top: 115vh;
  font-size: 20px;
}

.addToPlaylistButton {
  background-color: none;
}