@import '~bootstrap/scss/bootstrap';
@import '~video-react/styles/scss/video-react';

body {
  background-color: dimgrey;
  overflow: auto;
}

.descriptionField {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 125vh;
  left: 44vw;
  bottom: 0vh;
}

.season1Dropdown {
  position: absolute;
  bottom: -100vh;
  left: 42vw;
  width: 12%;
}

.season1Episodes {
  background-color: aliceblue;
}

.episodeTitle {
  color: black;
  font-size: 25px;
}

.season1Title {
  color: aliceblue;
  font-size: 20px;
}

.playListOutputBox {
  background-color: black;
  width: 50px;
  height: 50px;
}

.playlistButton {
  position: absolute;
  right: 10vw;
  top: 115vh;
  font-size: 20px;
}

.createPlaylistButton {
  width: 30px;
  height: 30px;
  background-image: url('https://www.clker.com/cliparts/2/k/n/l/C/Q/transparent-green-checkmark-md.png');
  background-size: cover;
  background-color: green;
}

.cancelPlaylistButton {
  width: 30px;
  height: 30px;
  background-image: url('http://www.pngmart.com/files/3/Red-Cross-PNG-File.png');
  background-size: cover;
  background-color: darkred;
}