@import '~bootstrap/scss/bootstrap';

body {
  background-color: dimgrey;
}

.sectionALink {
  font-size: 45px;
  color: aliceblue;
}
#sectionA {
  text-align: center;
  background-color: orangered;
}

.sectionBLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionB {
  text-align: center;
  background-color: orangered;
}

.sectionCLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionC {
  text-align: center;
  background-color: orangered;
}

.sectionDLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionD {
  text-align: center;
  background-color: orangered;
}

.sectionELink {
  font-size: 45px;
  color: aliceblue;
}
#sectionE {
  text-align: center;
  background-color: orangered;
}

.sectionFLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionF {
  text-align: center;
  background-color: orangered;
}

.sectionGLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionG {
  text-align: center;
  background-color: orangered;
}

.sectionHLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionH {
  text-align: center;
  background-color: orangered;
}

.sectionILink {
  font-size: 45px;
  color: aliceblue;
}
#sectionI {
  text-align: center;
  background-color: orangered;
}

.sectionJLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionJ {
  text-align: center;
  background-color: orangered;
}

.sectionKLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionK {
  text-align: center;
  background-color: orangered;
}

.sectionLLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionL {
  text-align: center;
  background-color: orangered;
}

.sectionMLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionM {
  text-align: center;
  background-color: orangered;
}

.sectionNLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionN {
  text-align: center;
  background-color: orangered;
}

.sectionOLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionO {
  text-align: center;
  background-color: orangered;
}

.sectionPLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionP {
  text-align: center;
  background-color: orangered;
}

.sectionQLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionQ {
  text-align: center;
  background-color: orangered;
}

.sectionRLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionQ {
  text-align: center;
  background-color: orangered;
}

.sectionRLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionR {
  text-align: center;
  background-color: orangered;
}

.sectionSLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionS {
  text-align: center;
  background-color: orangered;
}

.sectionTLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionT {
  text-align: center;
  background-color: orangered;
}

.sectionULink {
  font-size: 45px;
  color: aliceblue;
}
#sectionU {
  text-align: center;
  background-color: orangered;
}

.sectionVLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionV {
  text-align: center;
  background-color: orangered;
}

.sectionWLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionW {
  text-align: center;
  background-color: orangered;
}

.sectionXLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionX {
  text-align: center;
  background-color: orangered;
}

.sectionYLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionY {
  text-align: center;
  background-color: orangered;
}

.sectionZLink {
  font-size: 45px;
  color: aliceblue;
}
#sectionZ {
  text-align: center;
  background-color: orangered;
}